extends base

block content
    div#watch-container
        div#left-watch
            div#videoContainer(data-id=video._id, tabindex="0")
                video(src="/" + video.fileUrl)
                div#videoControls.videoControls
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                        div.videoControls__time
                            span#currenTime 00:00
                            span  / 
                            span#totalTime 00:00
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                    div.videoControls__volume
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        span#mute
                            i.fas.fa-volume-up
                    div
                        span#fullScreen
                            i.fas.fa-expand

            div.video__data
                p.video__title=video.title

                if video.hashtags && video.hashtags.length
                    p.video__hashtags
                        each hashtag in video.hashtags
                            a(href=`/search?keyword=${hashtag.substring(1)}`)= hashtag + ' '
                br
                if video.description && video.description.length
                    p.video__description=video.description
                br
                small.video__owner Uploaded by 
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                small.video__createdAt=new Date(video.createdAt).toLocaleDateString("en-US", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                br
                if String(video.owner._id) === String(loggedInUser._id)
                    a.video__edit(href=`${video.id}/edit`) Edit Video &rarr;
                    br
                    a.video__delete(href=`${video.id}/delete`) Delete Video &rarr;
                    br
                if !video.notes || video.notes.length === 0
                    if String(video.owner._id) === String(loggedInUser._id)
                        div.note-upload
                            form(action=`/notes/${video._id}/upload`, method="post", enctype="multipart/form-data")
                                input(type="file", name="note")
                                input(type="text", name="title", placeholder="Enter note title...")
                                input(type="text", name="description", placeholder="Brief description about the note...")
                                button(type="submit") Upload Note
                else
                    div.note-download
                        a(href=`/notes/${video.notes[0]._id}/download`) Download Note →

        div#right-watch            
            if loggedIn
                div.video__add-comments
                    form.video__comment-form#commentForm
                        textarea(placeholder="Write a nice commment...")
                        button Add Comment
            div.video__comments#comment-section
                ul
                    each comment in video.comments.reverse()
                        li.video__comment(data-id=comment.id)
                            if comment.owner.avatarUrl
                                img(src=`/${comment.owner.avatarUrl}`, alt="Profile Picture", style="width: 30px; height: 30px; margin-right: 15px; margin-left: 5px; border-radius: 50%;" )
                            else
                                span(style="font-size: 30px; margin-right: 10px") 😀
                            a.comment__username(href=`/users/${comment.owner._id}`, style="margin-right: 10px")=comment.owner.name + ':'
                            span  #{comment.text}
                            if String(comment.owner._id) === String(loggedInUser._id)
                                span.comment__delete.delete-comment X

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")
    script(src="/static/js/confirmDelete.js")
